html {
  height: -webkit-fill-available;
}
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom right, #1c1c1c, #3b4fb5);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Logo {
  position: absolute;
  top: 40px;
  left: 40px;
  border: solid white 2px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

a {
  margin: 5px;
  font-size: 18px;
  color: #0000ff;
}
a:hover {
  text-shadow: 0 0 5px #7f4343, 0 0 10px #7f4343, 0 0 15px #7f4343, 0 0;
  color: white;
}
.disabled {
  color: #1b1b1b;
  text-decoration: underline;
  cursor: default;
}
.disabled:hover {
  text-shadow: 0 0 5px #3c3939, 0 0 10px #3c3939, 0 0 15px #3c3939, 0 0;
}
.textLink {
  margin: 0px;
  font-size: 16px;
}

.section {
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
}

.intro {
  background: #b0b0b0;
  text-shadow: 0px 1px black;
  margin-bottom: 50px;
}
.main {
  background: #1c1c1c;
  text-shadow: 1px 1px black;
  margin-bottom: 20px;
}
.footer {
  background: linear-gradient(to bottom right, #3bb0ae, #3b4fb5);
  border-radius: 30px;
  padding: 5px;
}
.navBar {
  position: sticky;
  top: 0;
  margin-top: 55px;
}
